Repository dev-sys-do/sealci, pull requests merged in 2025-06, with the labels that each got.

#107 Feat/monitor tag listening
  monitor/src/common.rs
  monitor/src/error.rs
  monitor/src/event_listener.rs
  monitor/src/github/mod.rs
Labels: Monitor

#114 refactor(dumplet): output initramfs file with dumplet as a library
  dumplet/Cargo.lock
  dumplet/Cargo.toml
  dumplet/README.md
  dumplet/examples/docker_to_img.rs
  dumplet/src/docker.rs
  dumplet/src/errors.rs
  dumplet/src/initramfs.rs
  dumplet/src/lib.rs
  dumplet/src/main.rs
  dumplet/src/tar_utils.rs
Labels: Dumplet

#84 feat: create dumplet crate
  dumplet/.gitignore
  dumplet/Cargo.lock
  dumplet/Cargo.toml
  dumplet/README.md
  dumplet/examples/docker_to_img.rs
  dumplet/src/docker.rs
  dumplet/src/errors.rs
  dumplet/src/initramfs.rs
  dumplet/src/lib.rs
  dumplet/src/main.rs
  dumplet/src/tar_utils.rs
  dumplet/src/transferred_file.rs
Labels: Dumplet

#126 feat: enhance controller
  controller/src/bin/main.rs
  controller/src/lib/application/app_context.rs
Labels: Controller
